.toDoBox-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    height: 100vh;
}

.todoList {
    color: white;
    margin: 5px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.todo-buttons{
    background-color: turquoise;
    border: none;
    border-radius: 2px;
    color: black;
    font-weight: bold;
    /*padding: 5px 10px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    height: 30px;
    width: 100px;
}

li{
    list-style-type: none;
}