.toDoBox-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    height: 100vh;
}

.toDoBox-open {
    border: solid 2px;
    margin: 5px;
}

.toDoBox-in_progress {
    border: solid 2px;
    margin: 5px;
}

.toDoBox-done {
    border: solid 2px;
    margin: 5px;
}